@use 'settings' as *;
@use 'helpers/mixins' as mx;

.radio, .checkbox {
  position: relative;
  display: block;
  margin-top: 0;
  margin-bottom: 25px;

  // Define general label styles for radio and checkbox elements
  label {
    min-height: 26px;
    padding-left: 0;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
  }
}

.form input[type='checkbox'],
.form input[type='radio'] {
  display: block;
  margin-left: 0;
  width: 20px;
  height: 20px;
}

// Define default styles for checkbox
input[type='checkbox'] {
  + label {
    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      min-width: 20px;
      height: 20px;
      border: 1px solid $brand-grey-light;
      background-color: $brand-white;
      margin-right: 15px;
    }

  }
}

// Define styles when checkbox is checked
input[type='checkbox']:checked {
  + label {
    &:before {
      background-image: url('~img/svg/icon-tick-thick.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 11px;
    }
  }
}

// Radio styles
.radio {
	input[type='radio'] {
    @include mx.az-sr-only;
    position: absolute;
    top: 0;
    left: 0;

		&:checked + label {
      &:after {
        opacity: 1;
      }
		}
	}

  label {
    position: relative;
    align-content: center;
    font-size: 14px;

    &:before {
      content: '';
      width: 19px;
      height: 19px;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border-radius: 50%;
      border: 1px solid $brand-grey-light;
      background-color: $brand-white;
      flex-shrink: 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 19px;
      height: 19px;
      box-shadow: inset 0 0 0 4px $brand-white;
      border-radius: 50%;
      opacity: 0;
      border: 6px solid transparent;
      transition: opacity .3s ease-out;
      transform: translateY(-50%);
      background-color: $brand-grey-light;
    }
  }
}
